@tailwind base;
@tailwind components;
@tailwind utilities;

@import './form.css';
@import './button.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.main-app {
  @apply p-10;
}

.container {
  @apply max-w-6xl m-auto;
}

section {
  @apply py-10;
}

section .title {
  @apply font-semibold text-lg mb-7;
}

section .flex-area {
  @apply  flex justify-between gap-5 lg:flex-row flex-col;
}

section .flex-area {
  @apply  flex justify-between gap-5;
}

section .flex-area .col-1 {
  @apply lg:w-1/2 w-full;
}

section .flex-area .col-2 {
  @apply lg:w-1/2 w-full;
}

section .section-action {
  @apply flex gap-3 mt-40;
}

